html,
body {
  overflow: hidden;
}

.cuentas-container {
  height: 637px;
}
.cuenta-selected {
  background-color: #5352ed;
}
.cuentas-container .cuentas {
  width: 87% !important;
  overflow-y: scroll;
  background-image: url("./img/logotipo2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.cuentas-container .controls {
  width: 13% !important;
}
.modals-admin {
  margin-top: 8px !important;
  max-width: 95% !important;
}

.modal-captura {
  margin-top: 5px !important;
  max-width: 99.2% !important;
}
.lista-items-captura {
  max-width: 33% !important;
  height: 600px !important;
}
.categorias-captura {
  max-width: 12% !important;
  height: 600px !important;
  overflow-y: auto !important;
}
.subcategorias-modal {
  max-width: 56% !important;
  height: 600px !important;
  overflow-x: hidden !important;
}

.login-form-modal {
  margin-top: 30px !important;
  max-width: 27% !important;
}
.cards-body-admin {
  height: 425px !important;
  overflow-y: auto !important;
}
.modal-cardbody-list-items {
  height: 470px !important;
  overflow-y: scroll !important;
}
.cards-body-admin-productos {
  height: 542px !important;
  overflow-y: auto !important;
}
.modal-form-comedor {
  margin-top: 40px !important;
  max-width: 30% !important;
}
.modal-form-domicilio {
  margin-top: 20px !important;
  max-width: 70% !important;
}
.modal-detalle-cuenta {
  margin-top: 10px !important;
  max-width: 78% !important;
}
.detalle-items-body,
.body-dividir-cuenta {
  height: 460px !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
}
.myBtn {
  height: 70px !important;
  width: 180px;
  white-space: normal;
}
.myBtnP {
  height: 70px !important;
  width: 172px;
  white-space: normal;
}
.card-historial {
  height: 430px;
  overflow-x: scroll;
}
.otros-medios-modal {
  margin-top: 10px !important;
  max-width: 25% !important;
}
.otros-medios-modal-body {
  height: 240px;
  overflow-y: scroll;
}
.modals-admin-tickets {
  margin-top: 10px !important;
  max-width: 32% !important;
}
.modal-asignar-rep {
  margin-top: 4% !important;
  max-width: 28% !important;
}
.modal-pagar-cuenta {
  margin-top: 2% !important;
  max-width: 32% !important;
}
.info-dom-modal {
  margin-top: 1% !important;
  max-width: 40% !important;
}
.dividir-cuenta-modal {
  margin-top: 1% !important;
  max-width: 64% !important;
}
.cuentas-cerradas-modal {
  margin-top: 1.5% !important;
  max-width: 97% !important;
}
.caja-modal {
  margin-top: 1.5% !important;
  max-width: 85% !important;
}
.monitor-venta-modal {
  margin-top: 2% !important;
  max-width: 70% !important;
}
.declaracion-modal {
  margin-top: 0.5% !important;
  max-width: 60% !important;
}
